<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Learning Express JS</title>
</head>
<body>
    <h1>Express JS</h1>
    <p>Building powerful backend applications</p>
    
    <nav>
        <li><a href="/">Home</a></li>
        <li><a href="/about">About</a></li>
    </nav>

    <main class="content">
        <h2>404</h2>
        <p>Page cannot be found</p>
    </main>
</body>
</html>