<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('./partials/head.ejs') %>

</head>
<body>
    <%- include('./partials/header.ejs') %>
    <%- include('./partials/nav.ejs') %>

    <main class="content">
        <h2></h2>
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. 
            Iusto labore eligendi voluptatem, aliquid mollitia amet 
            impedit totam veniam inventore! Maxime quis cupiditate 
            corrupti deleniti, quas odit sunt laboriosam nemo distinctio?
        </p>
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. 
            Iusto labore eligendi voluptatem, aliquid mollitia amet 
            impedit totam veniam inventore! Maxime quis cupiditate 
            corrupti deleniti, quas odit sunt laboriosam nemo distinctio?
        </p>
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. 
            Iusto labore eligendi voluptatem, aliquid mollitia amet 
            impedit totam veniam inventore! Maxime quis cupiditate 
            corrupti deleniti, quas odit sunt laboriosam nemo distinctio?
        </p>
    </main>
    
    <%- include('./partials/footer.ejs') %>
</body>
</html>