<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Learning Express JS</title>
</head>
<body>
    <h1>Express JS</h1>
    <p>Building powerful backend applications</p>
    
    <nav>
        <li><a href="/">Home</a></li>
        <li><a href="/about">About</a></li>
    </nav>

    <main class="content">
        <h2><%= title %></h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Assumenda, quae.</p>
        <p>Do you want to know more? <a href="about-us">Click here!</a></p>

        <section>
            <h3>Tell me about yourself</h3>
            <form name="form" action="/guest" method="post">
                <p>
                    <label for="firstname">Firstname:</label>
                    <input type="text" name="firstname" id="firstname">
                </p>
                <p>
                    <label for="lastname">Lastname:</label>
                    <input type="text" name="lastname" id="lastname">
                </p>
                <p>
                    <label for="age">Age:</label>
                    <input type="text" name="age" id="age">
                </p>
                <p>
                    <input type="submit">
                </p>
            </form>
        </section>
    </main>
</body>
</html>